a {
  text-decoration: none;
}

header {
  background-color: transparent;
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

header.top {
  background-color: transparent;
  transition: top 0.2s ease-in-out;
}

header.nav-up {
  top: -54px;
}

header.nav-down {
  top: 0px;
}

header#navigation {
  background-color: transparent;
}

.about > svg {
  fill: transparent;
  stroke: #dd5a54;
}

.instagram {
  width: 20px;
  height: 20px;
}

.instagram path,
.instagram polygon {
  fill: transparent;
  stroke: #dd5a54;
  /* transition: 200ms ease-in; */
}

.email {
  width: 20px;
  height: 20px;
}

.email path,
.email polygon {
  fill: #dd5a54;
  transition: 200ms ease-in;
}

.woman {
  height: 25px;
}

.woman path,
.woman polygon {
  fill: #000;
}

svg.close {
  fill: #fff;
  height: 25px;
  width: 25px;

  transition: 0.2s ease-in-out;
}

svg.close:hover {
  fill: #dd5a54;
  transition: 0.2s ease-in-out;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4em;
}

.instagram:hover path,
.instagram:hover polygon {
  stroke: transparent;
  fill: #dd5a54;
  /* transition: 200ms ease-in; */
}

.email:hover path,
.email:hover polygon {
  fill: #fff;
  transition: 200ms ease-in;
}

.nav-item {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.nav-item-child {
  position: relative;
  color: #fff;
  transition: all 0.2s ease-out;
}

.nav-item-child:hover {
  /* color: #bccece; */
  transition: all 0.2s ease-out;

}

.nav-item::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(100% + 0px);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  bottom: -5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-item:hover::after,
.nav-item-child:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  animation: colorChange 0.8s forwards
}

.nav-item-child::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: 50%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(100% - 10px);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  bottom: 0;
  right: -8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0 5px;
  transform-origin: left;
}

.laura-link:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* animation: colorChangeLaura 0.8s forwards */
}

.anna-link:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* animation: colorChangeAnna 0.8s forwards */
}

.nav-link,
a.nav-link ,
a.nav-link:link,
a.navlink:visited {
  color: #fff;
  letter-spacing: 0.05em;
}

ul.nav-link  {
  background-image: linear-gradient(to bottom, transparent 10%, #0f0f0f  10%);
  padding: 2vw 1vw 1vw 1vw;
  /* margin-top: 1vw; */
  z-index: -1;
}

/* a.anna-link {
  color: #ecd48c;
}

a.liz-link {
  color: #c0c2ce;
}

a.laura-link {
  color: #1fc8a9;
}

a.mia-link {
  color: #d9baad;
}

a.nev-link {
  color: #d5514f;
}*/

#navigation-2 {
  background-color: #000;
}

ul {
  list-style-type: none;
}

/* @media screen and (min-width: 768px), screen and (max-width: 1024px) {
  .story-hero-panel {
    height: auto;
  }

  .story-hero {
    height: 50vh;
  }
} */

@media screen and (max-width: 1200px) {

  header.desktop {
    display: none !important;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    height: 9px;
    width: 50px;
    height: 50px;
    opacity: 1;
  }

  .hamburger span {
    display: block;
    width: 80%;
    height: 1px;
    background-color: #fff;
  }

  .hamburger span:nth-child(1) {
    width: 80%;
  }

  .hamburger span:nth-child(2) {
    width: 60%;
  }

  .hamburger span:nth-child(3) {
    width: 40%;
    ;
  }

  header.mobile {
    display: flex;
    /* justify-content: space-around; */
    height: 70px;
    position: fixed;
    background-color: transparent;
  }

  header.mobile.nav-up {
    top: -60px;
  }

  #drag-image {
    display: none;
  }

  #mobile-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
    text-align: left;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    visibility: hidden;
  }

  #mobile-nav-wrapper.on {
    visibility: visible;
  }

  #mobile-nav-wrapper a {
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    letter-spacing: 2px;
    color: #f1d3d3;
  }

  ;
}

li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   padding-top: 1rem;
   left: 0;
   /* display: none; */
   top: 100%;
   width: 300px;
   line-height: 30px;

   transition: all 0.2s ease;
 }
 
  ul li:hover > ul,
  ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;

   transition: all 0.2s ease;
 } 

 div.menu-wrapper {
   padding: 1vw;
 }
 
 /* ul li ul li {
   clear: both;
   width: 100%;
 } */

 @keyframes colorChangeLaura {
  0% {
    background: #fff
  }

  100% {
    background: #ffefe5
  }
}

@keyframes colorChangeAnna {
  0% {
    background: #424635
  }

  100% {
    background: #424635
  }
}

