a {
  text-decoration: none;
}

header {
  background-color: #f1d3d3;
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

header.top {
  background-color: transparent;
  transition: top 0.2s ease-in-out;
}

header.nav-up {
  top: -45px;
}

header#navigation {
  background-color: transparent;
}

.instagram {
  width: 25px;
  height: 25px;
}

.instagram path,
.instagram polygon {
  fill: #fff;
  transition: 200ms ease-in;
}
.email {
  width: 25px;
  height: 25px;
}

.email path,
.email polygon {
  fill: #fff;
}

.instagram:hover path,
.instagram:hover polygon {
  fill: #232946;
  transition: 200ms ease-in;
}

.email:hover path,
.email:hover polygon {
  fill: #232946;
  transition: 200ms ease-in;
}

.nav-item {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  
}

.nav-item::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(100% + 0px);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  bottom: -5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /* animation: colorChange 0.8s forwards */
  
}

.nav-link {
  color: #fff;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
}

#navigation-2 {
  background-color: #000;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 500px) {

  header.desktop {
    display:none !important;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 9px;
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  
  .hamburger span {
      display: block;
      width: 80%;
      height: 1px;
      background-color: #000;
  }
  
  header.mobile {
      display: flex;
      justify-content: space-around;
  }
}
