a {
  text-decoration: none;
}

header {
  background-color: #f1d3d3;
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

header.top {
  background-color: transparent;
  transition: top 0.2s ease-in-out;
}

header.nav-up {
  top: -54px;
}

header.nav-down {
  top: 0px;
}

header#navigation {
  background-color: transparent;
}

.about > svg {
  fill: transparent;
  stroke: #dd5a54;
}

.instagram {
  width: 20px;
  height: 20px;
}

.instagram path,
.instagram polygon {
  fill: transparent;
  stroke: #dd5a54;
  transition: 200ms ease-in;
}

.email {
  width: 20px;
  height: 20px;
}

.email path,
.email polygon {
  fill: #dd5a54;
  transition: 200ms ease-in;
}

.woman {
  height: 25px;
}

.woman path,
.woman polygon {
  fill: #000;
}

svg.close {
  fill: #fff;
  height: 25px;
  width: 25px;

  transition: 0.2s ease-in-out;
}

svg.close:hover {
  fill: #dd5a54;
  transition: 0.2s ease-in-out;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4em;
}

.instagram:hover path,
.instagram:hover polygon {
  stroke: transparent;
  fill: #dd5a54;
  transition: 200ms ease-in;
}

.email:hover path,
.email:hover polygon {
  fill: #fff;
  transition: 200ms ease-in;
}

.nav-item {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.nav-item::after {
  background-color: #fff;
  content: ' ';
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(100% + 0px);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  bottom: -5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  animation: colorChange 0.8s forwards
}

.nav-link,
a.nav-link ,
a.nav-link:link,
a.navlink:visited {
  color: #fff;
  letter-spacing: 0.05em;
}

#navigation-2 {
  background-color: #000;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {

  header.desktop {
    display: none !important;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    height: 9px;
    width: 50px;
    height: 50px;
    opacity: 1;
  }

  .hamburger span {
    display: block;
    width: 80%;
    height: 1px;
    background-color: #fff;
  }

  .hamburger span:nth-child(1) {
    width: 80%;
  }

  .hamburger span:nth-child(2) {
    width: 60%;
  }

  .hamburger span:nth-child(3) {
    width: 40%;
    ;
  }

  header.mobile {
    display: flex;
    justify-content: space-around;
    height: 70px;
    position: fixed;
    background-color: transparent;
  }

  header.mobile.nav-up {
    top: -60px;
  }

  #drag-image {
    display: none;
  }

  #mobile-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
    text-align: left;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    visibility: hidden;
  }

  #mobile-nav-wrapper.on {
    visibility: visible;
  }

  #mobile-nav-wrapper a {
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    letter-spacing: 2px;
    color: #f1d3d3;
  }

  ;
}