html {
  scroll-behavior: smooth;
}

/* body,
button {
  cursor: url(/img/red_cursor.png), auto !important;
} */

body {
  min-height: 100vh;
  background-color: #e6e6e6;
  background-color: #fff;

  overflow: auto;
  overflow-x: hidden;

  /* cursor: none; */
}

body.noscroll {
  overflow: hidden;
  position: fixed;
}

.reveal {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000;
  position: absolute;
  overflow: hidden;

  top: 0;
  left: 0;
}

.reveal-cover {
  width: 100vw;
  height: 100vh;
  z-index: 1004;
  background-color: transparent;
  position: absolute;
  overflow: hidden;

  top: 0;
  left: 0;
}

.about {
  z-index: 1005;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;

  overflow: hidden;

  background-color: #e3b79a;
}

.about.active {
  visibility: visible;
}

a {
  font-style: normal;
  cursor: none;
}

a:hover {
  cursor: pointer;
}

a:link,
a:visited {
  color: #fff;
}

@font-face {
  font-family: "Druk Bold";
  src: url("/css/fonts/Druk\ Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Super";
  src: url("/css/fonts/Druk\ Super.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk Wide Super";
  src: url("/css/fonts/Druk\ Wide\ Super.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk XCond Italic Super";
  src: url("/css/fonts/Druk\ XCond\ Super\ Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk XXCond Super";
  src: url("/css/fonts/Druk\ XXCond\ Super.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeit-MediumItalic";
  src: url("/css/fonts/zeit-medium-italic.eot");
  src: url("/css/fonts/zeit-medium-italic.svg") format("embedded-opentype"),
    url("/css/fonts/zeit-medium-italic.woff2") format("woff2"),
    url("/css/fonts/zeit-medium-italic.woff") format("woff"),
    url("/css/fonts/zeit-medium-italic.ttf") format("truetype"),
    url("/css/fonts/zeit-medium-italic.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeit-Extralight";
  src: url("/css/fonts/zeit-extralight.eot");
  src: url("/css/fonts/zeit-extralight.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/zeit-extralight.woff2") format("woff2"),
    url("/css/fonts/zeit-extralight.woff") format("woff"),
    url("/css/fonts/zeit-extralight.ttf") format("truetype"),
    url("/css/fonts/zeit-extralight.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeit-Heavy";
  src: url("/css/fonts/zeit-heavy.eot");
  src: url("/css/fonts/zeit-heavy.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/zeit-heavy.woff2") format("woff2"),
    url("/css/fonts/zeit-heavy.woff") format("woff"),
    url("/css/fonts/zeit-heavy.ttf") format("truetype"),
    url("/css/fonts/zeit-heavy.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeit-Light";
  src: url("/css/fonts/zeit-light.eot");
  src: url("/css/fonts/zeit-light.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/zeit-light.woff2") format("woff2"),
    url("/css/fonts/zeit-light.woff") format("woff"),
    url("/css/fonts/zeit-light.ttf") format("truetype"),
    url("/css/fonts/zeit-light.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

.druk-cond-super {
  font-family: "Druk XXCond Super";
}

.druk-wide-super {
  font-family: "Druk Wide Super";
}

.druk-cond-super-italic {
  font-family: "Druk XCond Italic Super";
}

.grifinito {
  /* replace with your selector */
  font-family: "Grifinito M Medium";
  font-weight: normal;
  font-style: normal;
}

.grifinito-italic {
  /* replace with your selector */
  font-family: "Grifinito M Medium Italic";
  font-weight: normal;
  font-style: normal;
}

.cormo {
  font-family: 'Cormorant', serif;
}



.zeit {
  font-family: "Zeit-MediumItalic";
}

.zeit-extra {
  font-family: "Zeit-Extralight";
}

.zeit-light {
  font-family: "Zeit-Light";
}

.zeit-heavy {
  font-family: "Zeit-Heavy";
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.matahari {
  font-family: "Matahari-Bold";
}

.matahari-regular {
  font-family: "Matahari-Regular";
}

.matahari-black {
  font-family: "Matahari-Black";
}

.chicago {
  color: #dd5a54;
}

.liz-wrapper-mobile .right-side p {
  font-size: 11vw;
}

.footer-desktop {
  z-index: 10;
  padding-top: 0;

  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}

.story-title {
  z-index: 10;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;

  font-size: 16vw;

  transition: 0.2s ease-in-out;
}

.reveal-text,
.reveal-text-two {
  font-size: 10vw;
}

.story-title span {
  transition: color 3s;
  transition-delay: 1s;
}

.photo-caption span {
  transition: color 3s;
  transition-delay: 1s;
}

.bio {
  z-index: 3;
  font-size: 2vw;
}

.large-photo-anna {
  background-image: url(/img/000007100004.jpg);
  background-size: cover;
  background-position: center;
}

.large-photo-nev {
  background-image: url(/img/000007140034.jpg);
  background-image: url(/img/000007140034.jpg);
  background-size: cover;
  background-position: center;
}

.group-shot {
  background-image: url(/img/000007110012.jpg);
  background-size: cover;
  background-position: center;
}

.group-shot-mobile {
  background-image: url(/img/000007110002.jpg);
  background-size: cover;
  background-position: center;

  background-position: 52% 43%;
  /* background-image: url(/img/000007230011.jpg); */
  height: calc(100vh - 316px);
  /* min-height: calc(960px - 316px); */
  max-height: calc(1400px - 316px);
  position: relative;
  background-size: cover;
  width: auto;
  z-index: 1;
}

.creative-woman-img {
  background-image: url(/img/000007200007.jpg);
  background-size: cover;
  background-position: center;
}

.second-hero-img {
  height: 50vw;
  object-fit: cover;
}

.blurb>div,
.blurb-desktop>div {
  font-variant: small-caps;
}

.overview-text {
  left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */
  font-size: 15vw;
  z-index: 1001;
  color: #fff;
}

/* .overview-title {
  z-index: 1001
}

.overview-title {
  transform: rotate(-90deg) translateY(-40px);
} */

.socail>svg:hover {
  transform: translateY(2px);
}

.social>svg.website,
.social>svg.instagram {
  height: 30px;
  width: 30px;
}

.social>svg.instagram path,
.social>svg.instagram polygon,
.social>svg.website path,
.social>svg.website polygon {
  stroke: transparent;
  fill: #000;
}

.social>svg.instagram:hover path,
.social>svg.instagram:hover polygon,
.social>svg.website:hover path,
.social>svg.website:hover polygon {
  fill: rgb(145, 145, 145);
}

.splitter {
  z-index: 1;
  position: absolute;
}

#drag-image {
  background-position: 52% 43%;
  background-image: url(/img/000007230011.jpg);
  height: calc(100vh - 316px);
  min-height: calc(100vh - 316px);
  max-height: calc(1400px - 316px);
  position: absolute;
  background-size: cover;
  width: auto;
  z-index: 1;
  left: 57%;
  margin-top: 0;
}

#drag-image:hover {
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 1002;
}

#drag-image.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#drag-image-2 {
  background-position: 52% 43%;
  background-image: url(/img/000007100018.jpg);
  height: calc(50vw - 316px);
  min-height: calc(20vw - 316px);
  max-height: calc(1400px - 316px);
  position: absolute;
  background-size: cover;
  width: auto;
  z-index: 1;
  left: 20%;
  top: 30%;
  margin-top: 0;

  /* border: 1px solid white; */
}

#drag-image-2:hover {
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 3;
}

#drag-image-2.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.anna-hands {
  background-image: url(/img/000007130029.jpg);
  background-position: 52% 43%;
  height: calc(50vw - 316px);
  min-height: calc(20vw - 316px);
  max-height: calc(1400px - 316px);
  /* position: absolute; */
  background-size: cover;
  width: auto;
  z-index: 1;
}

.anna-hands-2 {
  background-image: url(/img/000007130017.jpg);
  background-position: 52% 43%;
  height: calc(50vw - 316px);
  min-height: calc(20vw - 316px);
  max-height: calc(1400px - 316px);
  /* position: absolute; */
  background-size: cover;
  width: auto;
  z-index: 1;
  margin-left: 5px;
}

#intro-image {
  background-position: 52% 43%;
  background-image: url(/img/000007230011.jpg);
  height: calc(100vh - 316px);
  min-height: calc(960px - 316px);
  max-height: calc(1400px - 316px);
  position: relative;
  background-size: cover;
  width: auto;
  z-index: 1;
}

.left-slide {
  /* transform: translateX(-100%); */

  animation-name: slideinLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;
}

.right-slide {
  /* transform: translateX(100%); */

  animation-name: slideinRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;
}

/* #story-hero-anna {
  background-image: url(/img/000007230011.jpg);
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;
} */

.stick-image {
  position: sticky;
  top: 0;
}

.large-copy p {
  position: relative;
}

.large-copy-text {
  z-index: 2;
}

.top-copy {
  z-index: 2;
}

.story-hero-liz {
  background-image: url(/img/000007230011.jpg);
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

}

.story-hero-anna-left {
  background-image: url(/img/000007100013.jpg);
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;

  /* transform: translateX(-100%); */
}

.story-hero-mia-left {
  background-image: url(/img/000007080009.jpg);
  background-size: cover;
  background-position: 50% 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;

  /* transform: translateX(-100%); */

  /* animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms; */
}

.story-hero-mia-right {
  background-image: url(/img/bg_mia.jpg);
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;
  background-position: 50% 60%;

  /* transform: translateX(100%); */

  /* animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms; */
}

.story-hero-liz-left {
  background-image: url(/img/bg_liz.jpg);
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 0;
  /* transform: translateX(-100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.story-hero-anna-right {
  background-image: url(/img/bg_anna.jpg);
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.story-hero-nev-left {
  background-image: url(/img/000007120010b.jpg);
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.story-hero-nev-right {
  background-image: url(/img/bg_nev.jpg);
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.story-hero-laura-left {
  background-image: url(/img/000007090031.jpg);
  background-size: cover;
  background-position: 50% 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.story-hero-laura-right {
  background-image: url(/img/bg_laura.jpg);
  background-size: cover;
  background-position: 50% 8%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-top: 0;

  /* transform: translateX(100%); */

  /*animation-name: slideinright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 750ms;*/
}

.nev-img-left {
  background-image: url(/img/000007130036.jpg);
  background-position: center;
  background-size: cover;
}

.test::after {
  background-color:
    rgb(0, 0, 0);

  content: ' ';
  display: block;
  height: 45%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(101% + 0px);
  bottom: 15px;
  right: 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

  transform-origin: 50% 50%;

}

.test-liz::after {
  background-color:
    #fff0f2;

  content: ' ';
  display: block;
  height: 45%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: calc(101% + 0px);
  bottom: 15px;
  right: 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;

  transform-origin: 50% 50%;

}

.anna-full {
  background-image: url(/img/000007100008.jpg);
  background-size: cover;
  background-position: center;
}


.intro:hover {
  cursor: url(/img/whitedown1.webp), auto !important;
}

.hidetext-container {
  position: relative;
  overflow: hidden;
  height: 15vw;
  font-size: 15vw;
  margin: 0;
}

.hidetext {
  /* position: absolute; */
  /* text-shadow: 5px 5px 10px rgba(21, 21, 21, 0.2); */
  font-size: 15vw;
}

.hidetext-two {
  font-size: 25vw;
}

/* .headline {
  transform: translateY(-250);
} */

.hidetext .letter {
  display: inline-block;
  line-height: 1em;
}

.hidetext-two .letter {
  display: inline-block;
  line-height: 1em;
}

.playlist span {
  background-color: #efe8d8;
  color: #404040;
  position: fixed;
  text-transform: uppercase;
  font-variant: small-caps;
  width: 100px;
  height: 100px;
  top: 38px;
  right: 45px;
  border-radius: 45943940390%;
  z-index: 100;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: pulse 2s infinite linear;

  transition: 0.3s ease-in-out;

  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.playlist span:hover {
  transform: translateY(-10px) scale(1.1);
  transition: 0.2s ease-in-out;

  animation-play-state: paused
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1vw;
  opacity: 1;

  transition: 0.8s ease;
}

footer.hide {
  transform: translateY(150%);
  opacity: 0;

  transition: 0.3s ease;
}

footer.bottom {
  position: relative;
  bottom: 0;
  margin-bottom: 1vw;
  opacity: 1 !important;

  transition: 1s ease;
}

.alternate {
  -moz-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
  font-feature-settings: "swsh";
}

.bg-about {
  background-color: #e3b79a;
  ;
}

.bg-blue {
  background-color: #bccece;
}

.bg-laura {
  background: #ffefe5;
}

.bg-laura-black {
  background: #201f1d;
}

.bg-laura-green {
  background-color: #1fc8a9;
}

.bg-laura-yellow {
  background-color: #FFB700;
}

.text-laura {
  color: #1fc8a9;
}

.text-laura-yellow {
  color: #FFB700;
}

.text-laura-cream {
  color: #FFEFE5;
}

.bg-nev {
  background-color: #f4ecc5;
  background-color: #f4ecc5;
  background-color: #ddd0ae;
}

.bg-nev-black {
  background-color: #1C1C1C;
}

.bg-nev-yellow {
  background-color: #FFE001;
}

.bg-nev-red {
  background-color: #ba201e;
}

.bg-nev-yorange {
  background-color: #FFB606;
}

.bg-nev-green {
  background-color: #675118;
  background-color: #95ac7d;
}

.bg-no10 {
  background-color: #f1d3d3;
}

.bg-soft-green {
  background-color: #8eb69b;
}

.no12 {
  color: #8eb69b;
}

.cream {
  color: #efe8d8;
}

.pink {
  color: #f1d3d3;
}

.bg-anna {
  background-color: #ecd48c;
  background-color: #e7ded5;
}

.bg-mia {
  background-color: #201f1d;
}

.bg-liz {
  background-color: #c0c2ce;
}

.liz-purple {
  background-color: #bea1a5;
}

.liz-bg-green {
  background-color: #89937a;
}

.text-anna {
  color: #652b22;
}

.text-anna-green {
  color: #93926d;
}

.text-anna-brown {
  color: #e3b79a;
}

.text-anna-pale {
  color: #e9eecd;
}

.text-anna-yellow {
  color: #fdd630;
}

.text-nev {
  color: #fff
}

.text-nev-yellow {
  color: #FFB606;
}

.text-nev-red {
  color: #ba201e;
}

.text-nev-green {
  color: #95ac7d;
}

.text-mia {
  color: #FFD1A9;
}

.text-mia-red {
  color: #C23B22;
}

.hero-text-liz {
  color: #c0c2ce
}

.text-liz {
  color: #fff0f2;
}

.text-liz-sec {
  color: #aa9786;
}

.bg-mia-grey {
  background-color: #cfcfcf;
  background-color: #201f1d;
}

.bg-mia-blue {
  background-color: #bfdaea;
}

.bg-mia-blush {
  background-color: #FFD1A9;
}

.bg-mia-red {
  background-color: #C23B22;
}

.bg-mia-black {
  background-color: #000;
}

.bg-anna-brown {
  background-color: #d0b298;
  background-color: #e3b79a;
}

.bg-anna-cream {
  background-color: #ecd48c;
  background-color: #e7ded5;
}

.bg-anna-yellow {
  background-color: #f0cf61;
  background-color: #ecd48c;
}

.bg-anna-green {
  background-color: #93926d;
}

.bg-anna-pale {
  background-color: #e9eecd;
}

.bg-anna-rust {
  background-color: #652b22;
}

.marquee {
  width: 100vw;
  font-size: 3vw;
  overflow: hidden;
  background-color: transparent;

  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}

.nev-influences {
  font-size: 3vw;
  overflow: hidden;
  background-color: transparent;
}

.nev-influences span {
  animation: moveLeft 300s infinite linear;
  white-space: nowrap;
  display: block;
  position: relative;

  display: flex;
}

.caption {
  color: #000;
  font-family: "Zeit-Extralight";
  font-style: italic;
}

.caption a,
.caption a:link {
  color: #fff !important;
  text-decoration: underline;
  padding-left: 1px;
}

.caption-header {
  color: #fff;
  font-family: "Zeit-Extralight";
  font-style: italic;
  z-index: 10;

  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;

  transition: 0.2s ease-in-out;

  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.caption-header a,
.caption-header a:link {
  color: #fff !important;
  text-decoration: underline;
  padding-left: 1px;
}

.caption-photo {
  color: #fff;
  font-family: "Zeit-Extralight";
  font-style: italic;
  font-size: 1.5vmin;
}

.caption-photo a,
.caption-photo a:link {
  color: #fff;
  text-decoration: underline;
  padding-left: 1px;
}

.copy {
  margin-bottom: 1em;
  font-size: 2vw;
  line-height: 3vw;
}

.photo-pair {
  height: 50vw !important;
}

.photo-pair img {
  max-width: 100%;
  width: auto;
  height: 70%;
}

.roster-block {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* .gallery {
  height: 1000px;
} */

.flickity-viewport {
  height: 100%;
}

.gallery-cell {
  width: auto;
  height: 100%;
  margin-right: 10px;
}

.gallery img {
  display: block;
  height: 50vh;
  width: auto;
  margin-right: 10px;
}

/* .gallery.is-expanded img {
  height: 75vh;
} */

#toTop.rest {
  bottom: 60px;
}



/* .roster {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(5, minmax(500px, 1fr));
  grid-template-rows: 650px;
  align-content: center;

  cursor: grab;
  cursor: -webkit-grab;

  transform: scale(0.98);
  transition: 250ms ease;

  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

   white-space: nowrap;
   will-change: transform;

  user-select: none;

  min-height: 100vh;
} */

.roster {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, minmax(100px, 415px));
  grid-template-columns: repeat(3, calc(25vw - 20px));
  /* grid-template-columns: repeat(5, minmax(100px, 20vw)); */
  grid-template-rows: 650px;
  grid-template-rows: 35vw;
  grid-template-rows: 24vw;
  grid-template-rows: repeat(2, 35vw);
  align-content: center;
  /* cursor: pointer;
  cursor: -webkit-pointer; */
  transform: scale(0.98);
  transition: 250ms ease;
  position: relative;
  width: 100%;
  white-space: nowrap;
  will-change: transform;
  user-select: none;
  min-height: 100vh;
  justify-content: center;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.roster.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  /* transform: scale(1);
  transition: 250ms ease; */
}

.roster-image {
  background-size: cover;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-position: 45% 0%;
}

.roster-title {
  color: #404040;
  font-size: 1.5vmin;
  font-weight: 600;
  margin: 0;
}

.roster-name {
  font-size: 2vmax;
}

.roster-row-two {
  display: flex;
  height: 35vw;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;

  cursor: pointer;
  cursor: -webkit-pointer;
}

.roster-card {
  display: flex;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
}

.roster-card-mia {
  transition: 0.2s ease-in-out;
  background-color: #d9baad;
}

.roster-card-mia:hover {
  box-shadow: 8px 8px #e44b4b;
  transform: translateY(-8px);
  transition: 0.2s ease-in-out;
  /* background-color: #d9baad; */
}

.roster-card-mia:hover h1,
.roster-card-mia:hover p {
  color: #e44b4b;
  transition: 0.2s ease-in-out;
}

.roster-card-mia h1,
.roster-card-mia p {
  color: #e44b4b;
}

.roster-card-liz {
  transition: 0.2s ease-in-out;
  background-color: #c0c2ce;
}

.roster-card-liz:hover {
  box-shadow: 8px 8px #fff0f2;
  transform: translateY(-8px);
  transition: 0.2s ease-in-out;
  /* background-color: #ff8fa4; */
}

.roster-card-liz:hover h1,
.roster-card-liz:hover p {
  color: #fff0f2;
  transition: 0.2s ease-in-out;
}

.roster-card-liz h1,
.roster-card-liz p {
  color: #fff0f2;
  transition: 0.2s ease-in-out;
}

.roster-card-anna {
  transition: 0.2s ease-in-out;
  background-color: #69744b;
}

.roster-card-anna:hover {
  box-shadow: 8px 8px #ffdbcc;
  transform: translateY(-8px);
  transition: 0.2s ease-in-out;
  /* background-color: #2f3924; */
}

.roster-card-anna:hover h1,
.roster-card-anna:hover p {
  color: #ffdbcc;
  transition: 0.2s ease-in-out;
}

.roster-card-anna h1,
.roster-card-anna p {
  color: #ffdbcc;
  transition: 0.2s ease-in-out;
}

.roster-card-laura {
  transition: 0.2s ease-in-out;
  /* width: calc(25vw - 20px); */
  background-color: #ffefe5;

}

.roster-card-laura:hover {
  box-shadow: 8px 8px #1fc8a9;
  transform: translateY(-8px);
  transition: 0.2s ease-in-out;
  /* background-color: #d1e9e3; */
}

.roster-card-laura:hover h1,
.roster-card-laura:hover p {
  color: #1fc8a9;
  transition: 0.2s ease-in-out;
}

.roster-card-laura h1,
.roster-card-laura p {
  color: #1fc8a9;
  transition: 0.2s ease-in-out;
}

.roster-card-nev {
  transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  /* width: calc(25vw - 20px); */
  background-color: #f4ecc5;
}

.roster-card-nev:hover {
  box-shadow: 8px 8px #d5514f;
  box-shadow: 8px 8px #d5514f;
  transform: translateY(-8px);
  transition: 0.2s ease-in-out;
  /* background-color: #ff9966; */
}

.roster-card-nev:hover h1,
.roster-card-nev:hover p {
  color: #d5514f;
  transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.roster-card-nev h1,
.roster-card-nev p {
  color: #d5514f;
  color: #d5514f;
  transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.marquee span {
  animation: moveLeft 500s infinite linear;
  white-space: nowrap;
  display: block;
  position: relative;
}

.char1:hover {
  color: #e44b4b;
  transition: color 0s;
}

.char2:hover {
  color: 404040;
  transition: color 0s;
}

.char3:hover {
  color: #1fc8a9;
  transition: color 0s;
}

.char4:hover {
  color: #ffdbcc;
  transition: color 0s;
}

.char5:hover {
  color: rgb(229, 75, 75);
  transition: color 0s;
}

.char6:hover {
  color: #c0c2ce;
  transition: color 0s;
}

.char7:hover {
  color: rgb(243, 201, 221);
  transition: color 0s;
}

.char8:hover {
  color: #d9baad;
  transition: color 0s;
}

.char9:hover {
  color: rgba(246, 170, 61);
  transition: color 0s;
}

.char10:hover {
  color: rgb(229, 75, 75);
  transition: color 0s;
}

.char11:hover {
  color: rgba(246, 170, 61);
  transition: color 0s;
}

.char12:hover {
  color: rgb(229, 75, 75);
  transition: color 0s;
}

.char13:hover {
  color: rgba(156, 39, 176, 0.7);
  transition: color 0s;
}

.contact ul li {
  margin-bottom: 1em;
}

.contact h6 {
  margin-bottom: 0.75em;
}

.caption-photo {
  opacity: 0;
  transition: 0.2s ease;
}

.photo:hover>.caption-photo,
.photo:hover+.caption-photo {
  opacity: 1;
  transition: 0.2s ease;
}

.image-caption-overlay:hover>.caption-photo,
.image-caption-overlay:hover+.caption-photo {
  opacity: 1;
  transition: 0.2s ease;
}

.mia-hero-text {
  font-size: 2vw
}

/* .bookmark {
  background-image: url(/img/bookmark.png);
  background-size: cover;
} */

.about-desktop {
  padding-bottom: 0;
}

#toTop {
  /* display: none; Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 13px;
  /* Place the button 17px from the bottom of the page */
  right: 180px;
  /* Place the button 150px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  /* background-color: red; Set a background color */
  /* color: white; Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  /* padding: 15px; Some padding */
  /* border-radius: 10px; Rounded corners */
  /* font-size: 18px; Increase font size */

  transition: 0.5s ease;
}

#toTop:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.toTop path,
.toTop polygon {
  fill: #fff;
}

.toTop {
  height: 30px;
  width: 30px;
}

.ears,
.ears-2 {
  display: inline-block;
}

.influences-wrapper {
  height: 100%;
  width: 100%;
}

.influences {
  height: 100%;
  width: 100%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* @keyframes colorChange {
  0% {
    background: #fff
  }

  100% {
    background: #dd5a54
  }
} */

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3000vw);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideinRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideinLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {

  .blurb-container {
    flex-direction: column;
  }

  .blurb-desktop {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {

  #intro-image {
    min-height: calc(600px - 316px);
    position: absolute;
    right: 15%;
  }

  .intro-text {
    display: none;
  }

  .overview-text {
    z-index: 1001;
  }

  .roster-block-mobile {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1025px) {

  .single-image-mobile,
  .split-image-mobile {
    display: none;
  }

  .story-hero-portrait {
    display: none;
  }


  header.mobile {
    display: none;
  }

  .intro-title {
    display: none;
  }

  .intro-text {
    display: none;
  }

  #mobile-nav {
    display: none;
  }

  .roster-block-mobile {
    display: none;
  }

  #mobile-nav-wrapper {
    display: none;
  }

  .footer-mobile {
    display: none;
  }

  main {
    padding-bottom: 4vw;
  }

  .bio-mobile {
    display: none;
  }

  .bio {
    display: block !important;
  }

  .question-image-copy-split-mobile {
    display: none;
  }

  .large-copy-split-mobile {
    display: none;
  }

  .liz-wrapper-mobile {
    display: none;
  }

  .image-copy-split-small-mia {
    display: none;
  }

  .large-image-copy-mia-mobile {
    display: none;
  }

}

@media screen and (min-width: 1400px) {
  #intro-image {
    display: none;
  }
}


@media screen and (max-width: 1024px) {

  .large-copy-split-liz-desktop {
    display: none;
  }

  .large-copy-split-desktop {
    display: none;
  }

  .mia-question-wrapper-desktop {
    display: none;
  }

  .process-pieces {
    display: none
  }


  .liz-wrapper {
    display: none;
  }

  .image-caption-overlay {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .single-image-desktop,
  .split-image-desktop {
    display: none;
  }

  #toTop {
    display: none;
  }

  .splitter-title {
    color: #000;
  }

  .splitter {
    position: relative;
    padding: 3em 0;
    align-items: flex-start;
  }

  .image-copy-split-small {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .image-copy-split-small>div {
    width: 100%;
  }

  .test::after {
    display: none;
  }

  .right-side-copy {
    min-height: auto !important;
  }

  .story-hero-portrait {
    min-height: auto !important;
  }

  .story-title {
    /* text-align: left; */
    padding-bottom: 0;
    font-size: 25vw;
    width: 100%;
  }

  .large-copy-split {
    padding: 2vw;
  }

  .photo-pair {
    height: auto !important;
  }


  .playlist span {
    display: none;
  }

  .caption-photo {
    font-size: 2vw;
    opacity: 1 !important;
  }

  .bio-mobile {
    padding: 3vw;
    font-size: 8vw;
  }

  #roster {
    display: none;
  }

  .overview-text {
    font-size: 18vw;
  }

  .group-wrapper {
    padding-bottom: 0;
    padding-top: 0;
  }

  .story-hero {
    display: none;
  }

  .group-shot {
    display: none !important;
  }

  .second-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .second-hero-text {
    width: 100%;
  }

  .second-hero p {
    font-size: 5vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .second-hero-img {
    width: 100%;
  }

  .vid {
    display: none;
  }

  .hero {
    display: none;
  }

  .roster-block {
    display: none;
  }

  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    padding: 1rem 0 !important;
    position: relative !important;
  }

  .footer-mobile>div {
    padding: 0 1rem !important;
  }

  .footer-text {
    flex-direction: column !important;
    align-items: center !important;
    font-size: calc(7px + 1vw);
  }

  .footer-text p:first-child {
    margin-bottom: 0.5rem !important;
  }

  .roster-block-mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .roster-mobile {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    grid-template-rows: 450px;

    padding-top: 3rem;
    padding-bottom: 3rem;

    min-height: auto;
    overflow-x: scroll;
  }

  .roster-title {
    color: #404040;
    font-size: 0.75em;
  }

  .right-side-copy {
    padding: 1rem;
  }

  .right-side-copy>div {
    width: 100%;
  }

  .right-side-copy>div.photo {
    height: auto !important;
    padding: 1rem;
  }

  .large-single-image>div {
    padding-top: 1.5rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    /* background-image: url(/img/000007230011.jpg);
    background-size: cover;
    background-position: center */
    /* min-height: 100vh; */
    /* background-color: #f1d3d3; */
    /* margin: 4vw 0 4vw 0; */
    margin: 0;
  }

  .intro-title {
    transform: rotate(-0deg);
  }

  .intro-text {
    font-size: 20vw;
    color: #fff;
    text-align: left;
    /* text-transform: uppercase; */
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    letter-spacing: 2px;
  }

  .bio {
    display: none;
  }

  #overview {
    display: none;
  }

  .large-text p {
    font-family: 'Zeit-Light';
  }

  .top-title {
    font-size: 7vmax;
    color: #fff;
    text-align: left;
    font-family: "Zeit-Heavy";
    text-transform: uppercase;
    /* color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    letter-spacing: 2px;
  }

  .mia-hero {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    padding: 4rem 1rem;
    min-height: 100vh;
  }

  .mia-hero-text {
    width: 100%;
    position: relative;
    padding: 0 1rem;
  }

  div.mia-hero div:nth-child(even) {
    display: none;
  }

  .mia-hero p {
    font-size: 6vw;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    margin-bottom: 3rem;
    line-height: 1.5;
    font-family: "Zeit-Light";
    text-align: left;
    padding: 1rem 0
  }

  .mia-hero-img {
    width: 100%;
    /* height: 20vw; */
    /* object-fit: contain; */
    padding: 2rem 0;
  }

  .overview-text {
    line-height: 1.5;
    font-family: "Zeit-Light";
    text-align: left;
  }

  #drag-image {
    position: relative;
    left: 0;
  }

  .roster-name {
    font-size: 2em !important;
  }

  .roster-image {
    height: 300px;
  }

  .roster-title {
    padding-left: 1em;
  }

  .artists {
    width: 100%;
  }

  .large-copy {
    padding: 1rem 2rem;
  }

  .large-copy p {
    font-size: 9vw;
    /* text-align: left; */
  }

  .large-image-copy-split {
    flex-direction: column;
    padding: 1rem;
  }

  .large-image-copy-split>div {
    width: 100%;
  }

  .top-copy {
    padding: 2rem;
  }

  .top-copy p {
    font-size: 6vw;
    line-height: 8vw;
    margin-bottom: 1em;
  }

  .large-image-copy-split>.photo {
    padding: 2rem 0.5rem;
  }

  .large-copy-split {
    flex-direction: column;
  }

  .large-copy-split>div {
    width: 100%;
  }

  .large-copy-split>p {
    font-size: 4vw;
    line-height: 7vw;
  }

  .color-split {
    flex-direction: column;
  }

  .color-split>div {
    height: 100vw !important;
    width: 100vw;
  }

  .question-image-copy-split {
    flex-direction: column;
    padding-bottom: 1vw;
    padding-top: 0;
  }

  .question-image-copy-split>div {
    width: 100%;
  }

  .question-image-copy-split>.photo {
    padding: 2rem 0.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 1366px) {
  .roster-mobile {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    grid-template-rows: 450px;

    padding-top: 3rem;
    padding-bottom: 3rem;

    min-height: auto;
    overflow-x: scroll;
  }

  .roster-title {
    color: #404040;
    font-size: 0.75em;
  }

  .bio {
    display: none;
  }

  .bio-mobile {
    padding: 2vw;
    min-height: 100vh;
  }
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
  .image-caption-overlay {
    display: none;
  }
}

@media only screen and (min-width: 1366px) {
  .bio-mobile {
    display: none;
  }

}

@media only screen and (max-width: 1024px) {
  #roster {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  #intro-image {
    display: none;
  }
}

.right-side {
  font-size: 7vw;
}

.right-side-liz {
  font-size: 5vw;
}

.left-side {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;

  background-color: #fff0f2;
  color: #c0c2ce;
}

/* .left-side p {
  font-size: 5vw;
} */

.splitter-question,
.splitter-answer {
  z-index: 2;
}

.personal-liz p {
  font-size: 5vw;
  background-color: #000;
  color: #c0c2ce;
}

.right-side-liz {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.left-side img {
  position: absolute;

  max-width: 100%;
  width: auto;
  height: 50%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.repeatbg {
  overflow: hidden;
  min-height: 500vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1vw;
}

.repeatbg>p {
  position: absolute;
  font-size: 12vw;
  z-index: -1;
  text-transform: uppercase;
}

.influence {
  position: absolute;
  height: 80vw;
  width: 80vw;
  transform: perspective(800px) rotateX(30deg);
  opacity: 0;
  will-change: transform;
}

.influence.main path {
  fill: #c0c2ce;
}

.influence.main {
  opacity: 1;
}

.influence path {
  stroke: #000;
  fill: #fff0f2;
  stroke-width: 0.5px;
}

.influence:nth-child(1) {
  z-index: -1;
}

.influence:nth-child(2) {
  z-index: -2;
}

.influence:nth-child(3) {
  z-index: -3;
}

.influence:nth-child(4) {
  z-index: -4;
}

.influence:nth-child(5) {
  z-index: -5;
}

.influence:nth-child(6) {
  z-index: -6;
}

.influence:nth-child(7) {
  z-index: -7;
}

.influence:nth-child(8) {
  z-index: -8;
}

.influence:nth-child(9) {
  z-index: -9;
}

.influence:nth-child(10) {
  z-index: -10;
}

.influence:nth-child(11) {
  z-index: -11;
}

.influence:nth-child(12) {
  z-index: -12;
}

.process {
  position: absolute;
  height: 60vw;
  width: 60vw;
  transform: perspective(300px) rotateX(30deg);
  opacity: 0;
  will-change: transform;
}

.process.main path {
  fill: #C23B22;
}

.process.main {
  opacity: 1;
}

.process path {
  stroke: #C23B22;
  fill: #FFD1A9;
  stroke-width: 0.5px;
}

.process:nth-child(1) {
  z-index: -1;
}

.process:nth-child(2) {
  z-index: -2;
}

.process:nth-child(3) {
  z-index: -3;
}

.process:nth-child(4) {
  z-index: -4;
}

.process:nth-child(5) {
  z-index: -5;
}

.process:nth-child(6) {
  z-index: -6;
}

.process:nth-child(7) {
  z-index: -7;
}

.process:nth-child(8) {
  z-index: -8;
}

.process:nth-child(9) {
  z-index: -9;
}

.process:nth-child(10) {
  z-index: -10;
}

.process:nth-child(11) {
  z-index: -11;
}

.process:nth-child(12) {
  z-index: -12;
}

.strip {
  position: absolute;
  display: inline-block;
  font-size: 10vw;
  padding: 0rem 2rem;
  background-color: #000;
  /* color:#fff; */
  /* text-transform:uppercase;
  font-style:italic; */
  font-weight: 700;
  width: auto;
}

.strip.-one {
  top: 37%;
  transform: translateX(-30vw) rotate(-20deg);
  z-index: 9
}

.strip.-two {
  top: 20%;
  right: 0;
  transform: translateX(-20vw) rotate(12deg)
}

.strip.-three {
  top: 75%;
  transform: translateX(-14vw) rotate(4deg)
}

.strip.-four {
  top: 55%;
  transform: translateX(10vw) rotate(-10deg)
}

.strip.-five {
  top: 5%;
  transform: translateX(-5vw) rotate(-10deg)
}

.strip.-six {
  top: 15%;
  right: 0;
  transform: translateX(2vw) rotate(-5deg)
}

.strip.-seven {
  top: 45%;
  transform: translateX(5vw) rotate(-10deg)
}

.strip.-eight {
  top: 85%;
  left: 0;
  transform: translateX(-10vw) rotate(10deg)
}

.strip.-nine {
  top: 82.5%;
  right: 0;
  transform: translateX(5vw) rotate(-3deg)
}

.item__img {
  background-image: url(/img/000007080004.jpg);
  background-position: center;
  background-size: cover;

  top: 0;
  right: 0;

}

.comm-left.small {
  width: 50%;
}

svg.question_mia {
  width: 15vw;
  height: 15vw;

  animation: rotation 10s infinite linear;

}

svg.question_mia path {
  fill: #C23B22;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* .blur {
	-webkit-filter: url("#blur");
	filter: url("../mia.html#blur");
} */

svg.question_laura {
  width: 10vw;
  height: 10vw;

  animation: rotation 10s infinite linear;
}

/* svg.question_laura path {
  fill: #FFB700;
} */

.question_laura {
  bottom: 180px;
  left: 110px;
}

.anna-ball span {
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 07151986%;
  background-color: #FFB700;
  background-color: #fdd630;

  top: 150px;
  left: 130px;

  animation: pulse 20s infinite linear;

  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.anna-vid {
  height: calc(49vw - 316px);
  min-height: calc(20vw - 316px);
  position: absolute;
  width: auto;
  z-index: 2;
  left: 70%;
  top: 10%;
}

.anna-vid:hover {
  z-index: 3;
}

.mia-ball span {
  height: 10vw;
  width: 10vw;
  position: absolute;
  border-radius: 07151986%;
  background-color: #C23B22;

  top: 150px;
  left: 130px;

  animation: pulse 20s infinite linear;

  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.line-reveal {
  transform: scaleX(0);
}

.salvage::after {
  content: ' ';
  height: 2px;
  background-color: #ffffffe6;
  width: calc(97% + 0px);
  position: absolute;
  bottom: 5px;
  display: block;
  transform-origin: 0% 50%;
  left: 0;
  z-index: -1;
}